body{
    
    background-color: aliceblue;
}

.logo{
    
    
    width: 10%;
    float: left;
    height: auto;
   
    
}



.myContainer2{
    
    width: 100%;
    float: left;
    
   
    
}

.logo img{
    
    height: 100px;
    width: 100%;
}

.custheader{
    
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    padding: 1px;
    
    float: left;
    
    
}

.mynav{
    
   float: left;
    width: 90%;
   
    
}


.nav{
    
    float: left;
}



.carousel img{
    
    height: 80%;
    width: 100%;
}

.title{
    
    width: 100%;
    float: left;
}

.container{
    
    
   
}

#newsHeading{
    
    color: darkgreen;
}

#mainCard{
    
    width: 100%;
    border: 0px;
    border-top: 1px solid gray;
    border-radius: 0px;
}

.footer{
    
    height: 50px;
    background-color: beige;
}

#bom{
    
    height: 50%;
    width: 100%;
    
}


#muyeye{
    
    background-image:url(../res/background/back-one.jpg);
    background-size: cover;
}


#muyeyeBOM{
    
    background-image:url(../res/galerry/back.JPG);
    background-size: cover;
}

#muyeyeBOM img{
    
    height: 250px;
}


#line {
   display: flex; 
   flex-direction: row;
    font-family: Candara;
    
    
} 

#line:before, 
        #line:after { 
            content: ""; 
            flex: 1 1; 
            border-bottom: 2px solid #000; 
            margin: auto;
            
        } 

.carousel-control-prev-icon,.carousel-control-next-icon{
    
    border: 1px solid green;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}


@media (min-width: 481px) and (max-width: 767px) {

.logo{
    
    
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
   
    
}
    
.logo img{
    
    height: 130px;
    width: 20%;
    
        
}
    
.mynav{
    
   float: left;
    width: 100%;
   
    
}
    
.title {
        
        text-align: center;
    }
    
    
  
}

@media (max-width: 481px){

.logo{
    
    
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
    
}
    
.logo img{
    
    height: 130px;
    width: 25%;
   
        
}
    
.mynav{
    
   float: left;
    width: 100%;
   
    
}
    
    .title img{
        
        width: 100%;
    }
    
    
  
}